<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Content-Security-Policy" value="frame-ancestors 'self' https://*.brainhub.vn" />
            </customHeaders>
        </httpProtocol>
		<rewrite>
			<rules>
				<rule name="Http 2 Https" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
